@media screen and (min-width: 480px) {
    body {
        background-image: url(Pictures/leaves.jpg);
        color: white;
    }
}
@media screen and (min-width: 768px) {
    body {
        background-image: url(Pictures/nature.jpg);
    }
}